<a href="https://colab.research.google.com/github/pd047/Pandas-Basics/blob/main/Filtering_and_sorting_data_chipotle_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd

In [37]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep='\t')

In [38]:
df.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

# How many products cost more than $10.00?

In [39]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [40]:
df.item_price = df['item_price'].str.slice(1)

In [41]:
df.head(10)

   order_id  ...  item_price
0         1  ...       2.39
1         1  ...       3.39
2         1  ...       3.39
3         1  ...       2.39
4         2  ...      16.98
5         3  ...      10.98
6         3  ...       1.69
7         4  ...      11.75
8         4  ...       9.25
9         5  ...       9.25

[10 rows x 5 columns]

In [42]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [43]:
df.item_price = df.item_price.astype(float)

In [44]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [45]:
item_list = df[df['quantity']==1].drop_duplicates(subset=['item_name'])

In [46]:
above_ten = item_list[item_list['item_price']>10.00]

In [47]:
above_ten.item_name.nunique()

12

# What is the price of each item?

In [48]:
item_list.shape

(50, 5)

In [49]:
price_list = item_list[['item_name','item_price']]

In [50]:
price_list

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
92                       Steak Crispy Tacos        9.25
111     Chips and Tomatillo Red Chili Salsa        2.95
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
237                     Carnitas Soft Tacos        9.25
250                           Chicken Salad       10.98
263                       Canned Soft Drink        1.25
298                       6 Pack Soft Drink        6.49
300     Chips and Tomatillo-Red Chili Salsa        2.39
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
554                   Carnitas Crispy Tacos        9.25
606                        Steak Salad Bowl       11.89
664                             Steak Salad        8.99
673                                    Bowl        7.40
674       Chips and Mild Fresh Tomato Salsa        3.00
738                       Veggie Soft Tacos       11.25
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1414                                  Salad        7.40
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
3750                         Carnitas Salad        8.99

# Sort by the name of the item

In [51]:
df.sort_values(by=['item_name'])

      order_id  ...  item_price
3389      1360  ...       12.98
341        148  ...        6.49
1849       749  ...        6.49
1860       754  ...        6.49
2713      1076  ...        6.49
...        ...  ...         ...
2384       948  ...        8.75
781        322  ...        8.75
2851      1132  ...        8.49
1699       688  ...       11.25
1395       567  ...        8.49

[4622 rows x 5 columns]

# What was the quantity of the most expensive item ordered?

In [52]:
pricey_item = df.sort_values('item_price', ascending=False).head(1)
pricey_item

      order_id  quantity  ... choice_description item_price
3598      1443        15  ...                NaN      44.25

[1 rows x 5 columns]

# How many times were a Veggie Salad Bowl ordered?

In [53]:
len(df[df['item_name']=="Veggie Salad Bowl"])

18

# How many times people orderd more than one Canned Soda?

In [54]:
len(df[(df.item_name == 'Canned Soda') & (df.quantity > 1)])

20